*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.bagraund  {
    color: rgb(37, 42, 33);
    display: inline-block;
    width: 24%;
    padding: 10px 0px 0px 15px;
    /*margin: 4%;*/
}
div .bagraund img{
    margin-top:40px ;
}

.imagen{
    /*margin-top:40px ;*/
    width: 150px;
    height: 150px;
}
header{
    display: flex;
    /*justify-content: center;*/
    background-color: cadetblue;
    height: 200px;
    position: sticky;
    top: 0;
    z-index: 1;
}
#navbar{
    display: inline-block;
    width: 75%;
    /*padding-right: 60px;*/
    box-sizing: border-box;
    vertical-align: bottom;
    font-size: 15px;
}
#navbar li{
    width: 50px;
    display: inline-block;
}

p{
    color: rgb(51, 51, 177);
}
h2{
    color: rgb(87, 122, 52);
}
body{
    text-align: center;
    font-family: 'EB Garamond', serif;
    background-color: rgb(226, 219, 219);
}
img{
    /*width: 20%;*/
    height: 20%;
    border-radius: 6px;
}
/*.logo img{
    width: 10%;
    height: 10%;
}*/
