.bagraund li {
    color: rgb(113, 233, 15);
    display: inline-block;
    margin-left: 10px;
}
p{
    color: rgb(51, 51, 177);
}
h2{
    color: rgb(87, 122, 52);
}
body{
    text-align: center;
    font-family: 'EB Garamond', serif;
    background-color: darkgray;
}
img{
    width: 10%;
    height: 10%;
}
